.TodoTemplate {
    width: 512px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    border-radius: 4px;
    overflow: hidden;
 
  
    .app-title {
      background: #22b8cf;
      color:white;
      height:4rem;
      font-size:1.5rem;
      display: flex;
      align-items:center;/*세로중앙정렬*/
      justify-content: center;/*가로중앙 정렬*/
    }
    .content{
      background: white;
    }
  }
  